body 
{
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
}
a 
{
    font: inherit;
    text-decoration: none;
    color: black;
}

.button
{
    font: inherit;
    background-color: green;
}
.visually-hidden
{
    position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  border: 0;
}

/*header*/
.main-navigation
{
    display: flex;
}
.main-navigation__pages 
{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 110px;
    margin-top: 75px;
} 
.main-navigation__pages a
{
    color: white;
    background-color: green;
}
.marging
{
    margin-left: 35px;
    margin-right: 35px;
}
.main-navigation__pages :hover
{
    color: grey;
}
.main-navigation__pages :active
{
    color: red;
}
.page-active
{
    text-decoration: underline;
}
.main-navigation-logo img 
{
    width: 210px;
    height: 70px;
    margin-top: 45px;
}

/*main*/
.fuction-eat
{
    background-image: url(image/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: right;
}
.weight-change__list
{
    list-style: none;
    display: flex;
}
.weight-change__items img
{
    width: 160px;
    height: 105px;
    background-color: green;
}
.weight-change__items 
{
    height: 370px;
    width: 570px;
    margin-right: 80px;
    background-color: grey;
}
.how-work__list
{
    list-style: none;
}
.how-work__items img 
{
    background-color: green;
}
.life-example 
{
    background-color: grey;
}

.products__list
{
    list-style: none;
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    align-items: baseline;
}

.products__items
{
    background-color: gray;

    height: 430px;
    width: 245px;
    margin: 5px;
}
.products__more 
{
    border-style: solid;
    border-width: 2px;
    border-color: gray;

    height: 430px;
    width: 245px;
}
.products__more img
{
    width: 40%;
}

.another-products__gift
{
    height: 289px;
    width: 245px;
    background-image: url(image/gift-photo-desktop@1x.jpg);
    background-repeat: no-repeat;

    color: white;
}
.another-products__gift img
{
    width: 20%;
    
}
.form__cat-data
{
    border-style: none;
}
.form__what-need
{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.form__you-contacts, .form__comments,.form__dop
{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/*footer*/
.main-footer__map
{
    background-image: url(image/bg-map-desktop@1x.png);
    width: 1440px;
    height: 400px;
    display: flex;
}
.main-footer__map img
{
    width: 110px;
    height: 105px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: 325px;
}
.main-footer__adress
{
    height: 200px;
    width: 570px;
    margin-top: 95px;
    margin-left: 110px;
    background-color: white;
}
.main-footer__contacts
{
    display: flex;
}
.main-footer-logo img 
{
    width: 130px;
    height: 35px;
    margin-left: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.main-footer__contacts span
{
    margin-left: auto;
    margin-top: 70px;
    margin-right: 20px;
}
.HTML-Academy 
{
    margin-right: 110px;
    width: 3%;
}
.main-footer__socials
{
    list-style: none;
    display: flex;
    align-items: baseline;
    margin-top: 60px;
    margin-left: 410px;
}
.instagram
{
    margin-left: 30px;
    margin-right: 30px;
}

