body 
{
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
}
a 
{
    font: inherit;
    text-decoration: none;
    color: black;
}

.button
{
    font: inherit;
    background-color: green;
}
.visually-hidden
{
    position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  border: 0;
}

/*header*/
.main-navigation__pages 
{
    list-style: none;
    /* color: white; */
    
} 
.main-navigation__pages :hover
{
    color: grey;
}
.main-navigation__pages :active
{
    color: indigo;
}
.page-active
{
    text-decoration: underline;
}
.main-navigation-logo img 
{
    width: 15%;
}

/*main*/
.fuction-eat
{
    background-image: url(image/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: right;
}
.weight-change__list
{
    list-style: none;
}
.weight-change__items img
{
    width: 5%;
    background-color: green;
}
.weight-change__items 
{
    background-color: grey;
}
.how-work__list
{
    list-style: none;
}
.how-work__items img 
{
    background-color: green;
}
.life-example 
{
    background-color: grey;
}

.products__list
{
    list-style: none;
}

.products__items
{
    background-color: gray;

    /* height: 430px;
    width: 245px; */
}
.products__more 
{
    border-style: solid;
    border-width: 2px;
    border-color: gray;

    height: 430px;
    width: 245px;
}
.products__more img
{
    width: 40%;
}

.another-products__gift
{
    height: 289px;
    width: 245px;
    background-image: url(image/gift-photo-desktop@1x.jpg);
    background-repeat: no-repeat;

    color: white;
}
.another-products__gift img
{
    width: 20%;
    
}
.form__cat-data
{
    border-style: none;
}
.form__what-need
{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.form__you-contacts, .form__comments,.form__dop
{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/*footer*/
.main-footer-logo img 
{
    width: 10%;
}
.HTML-Academy 
{
    width: 3%;
}
.main-footer__socials
{
    list-style: none;
}

